@media screen and (max-width:1024px) {
    .header {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    .asaide {
        width: 100%;
    }

    .footer {
        width: 100%px;
    }


}

@media screen and (min-width:480px) and (max-width:800px) {

    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 500px 100px;
        grid-template-areas:
            'header header'
            'main aside'
            'footer footer';
        font-size: 16px;
        font-weight: bold;
        text-align: center;

    }


    .header {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    .asaide {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}


@media screen and (max-width:479px) {

    .container {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            'header header'
            'main main'
            'section1 section1'
            'section2 section3'
            'section4 section4'
            'aside aside';
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }


    .header {
        width: 100%;

    }

    .main {
        width: 100%;
        display: inline-block;
    }

    .asaide {
        width: 100%;

    }

    .footer {
        display: none;
    }

}